*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100vw;
    height: 100vh;
}
.parent-cont-1{
    width: 100%;
    height: 100%;
    background-image: url(backgroundimage1.avif);
    background-size: cover;
    padding: 20px;
}
.top-cont{
    width: 100%;
    text-align: center;
    padding-top: 10px;
}
.middle-cont{
    width: 100%;
}
h4{
    color: rgb(17, 118, 186);
}
h1{
    color: white;
}
p{
    color: white;
}
.bottom-cont{
    margin-top: 40px;
}
button{
    padding: 10px;
    width: 170px;
    background-color: bisque;
    border-radius: 20px;
    border: none;
    color: rgb(17, 118, 186);
    font-weight: 550;
    
}
.parent-cont-2{
    display: none;
}

@media (min-width:1024px) {
    .parent-cont-1{
        display: none;
    }
    .parent-cont-2{
        display: block;
        width: 100%;
        height: 100%;
        background-image: url(backgroundimage1.avif);
        background-size: cover;
        padding: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    h1{
        font-size: 55px;
    }
    p{
        font-size: 18px;
    }
}